<% include ../partials/boilerplate %>

<%  %>
<div class='profile'>
	<h1 id='username'><%=user.username%></h1>
	<h2 id='fullname'><%=user.firstname%> <%=user.lastname%></h2>
	<h3 id='email'><%=user.email%></h3>
</div>

<% include ../partials/end %>
