<% include ../partials/boilerplate %>

	<h1>Archive</h1>

	<% for (let day of pastDays)  { %>

		<a href='/archive/<%=day.url%>'>
		<div class='archive'>
			<h2><%=day.display%></h2>
		</div>
		</a>
	
	<% } %>

<% include ../partials/end %>