<% include ../partials/boilerplate %>
	<a href='#'>Week</a>
	<a href='#'>Month</a>

	<h1>Archive</h1>

	<% for (let day of pastDays)  { %>
		<div class='entry archive'>
			<h2><%=day.display%></h2>
			<a class ='details-col' href='/archive/<%=day.url%>'><i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i></a>
		</div>
	<% } %>
<% include ../partials/end %>