<% include ../partials/boilerplate %>
	<h1>Archive</h1>
	<div class='archive-div'>

	<% for (let day of pastDays)  { %>
		<div class='entry archive'>
			<a href='/archive/<%=day.url%>'>
			<h2><%=day.display%></h2></a>
		</div>
	<% } %>

</div>
<% include ../partials/end %>