<nav>
<ul>

	<% if (currentPage === 'food') { %>
		<li id='home' class='current-page'><a href='/food'>Food</a></li>
	<% } else { %>
		<li id='home'><a href='/food'>Food</a></li>
	<% } %>


	<% if (currentPage === 'archive') { %>
		<li id='archive' class='current-page'><a href='/'>Archive</a></li>
	<% } else { %>
		<li id='archive'><a href='/archive'>Archive</a></li>
	<% } %>


	<% if (currentPage === 'stats') { %>	
		<li id='stats' class='current-page'><a href='/stats'>Stats</a></li>
	<% } else { %>
		<li id='stats'><a href='/stats'>Stats</a></li>
	<% } %>
	

	<% if (currentPage === 'profile') { %>
		<li id='profile' class='current-page'><a href='/user'>Profile</a></li>
	<% } else { %>
		<li id='profile'><a href='/user'>Profile</a></li>
	<% } %>

	<li><a href='/auth/logout'>Log Out</a></li>


</ul>
</nav>