<% include ./partials/boilerplate %>
	<h1 class='welcome'>welcome.</h1>
	<div class='home-div'>
		<a href='/auth/login' class='button'>Log In</a>
		<a href='/auth/register' class='button'>Register</a>
	</div>
<% include ./partials/end %>