/* GLOBAL STYLES */

body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #223647;
}

h1 {
	font-size: 28px;
}

iframe {
	width: 30%;
	height: 30%;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #223647;
	padding: 15px;
}

nav a {
	color: #F3F2ED;
	font-size: 16px;
}
nav a:hover {
	color: #13CAD5;
	transition: 0.5s;
} 

a {
	text-decoration: none;
	color: white;
}

ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

li {
	justify-content: space-between;
	margin: 10px 50px;
}

.entry {
	margin: 5px 30px;
	padding: 25px;
	border-radius: 10px;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(to right, #0E94A1 , #13CAD5);
	color: white;
}

.entry a:hover {
	color: #223647;
	transition: 0.5s;
}


.archive {
	padding: 15px;
}
.current-page a {
	color: #13CAD5;
}

input {
	padding: 4px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	display: block;
	margin: 10px;
	border: 2px solid #0E94A1;
	border-radius: 5px;
	color: #223647;
	box-sizing: border-box;
	background-color: #C5E3E3;
}

input[type=submit]{
	background-color: #0E94A1;
	color: white;
	border: none;
	padding: 10px 20px;
}

input[type=submit]:hover {
	background-color: #13CAD5;
	border: none;
	transition: 0.5s;
}

 .button {
 	font-size: 18px;
 	border-radius: 5px;
 	background-color: #0E94A1;
	color: white;
	border: none;
	padding: 12px 20px;
	display: inline-block;
	margin: 10px;
	box-sizing: border-box;
 }


.home-div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}

 .button:hover {
 	background-color: #13CAD5;
	border: none;
	transition: 0.5s;
 }

 .edit-div {
 	display: flex;
 	flex-direction: row;
 	justify-content: flex-end;
 }

 .single-div {
 	display: flex;
 	flex-direction: column;
 	margin: 50px 20%;
 	border-radius: 15px;
 	color: white;
 }

input:-webkit-autofill,
textarea:-webkit-autofill, 
select:-webkit-autofill {
	background-color: white;
	 -webkit-text-fill-color: #223647;
	 transition: background-color 5000s ease-in-out 0s;
}

/* HEADERS */

h1 {
	text-align: center;
	font-size: 28px;
	margin: 25px;
	color: #0E94A1;
	font-weight: normal;
}

.date-header {
	margin-top: 25px;
}

.add-header {
	text-align: center;	
}

.headers {
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	font-weight: normal;
	background: none;
	color:  #13CAD5;
}

.back {
	color: #0E94A1;
	position: absolute; 
	margin: 20px;
}

.back:hover {
	color: #13CAD5;
	transition: 0.5s;
}

#total-cals {
	background: #0E94A1;
	padding: 15px;
}

form {
	text-align: center;
}

.welcome {
	font-size: 80px;
	background: -webkit-linear-gradient(#0E94A1 , #13CAD5); 
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.time-col, .name-col, .cals-col,.details-col {
	position: absolute;
}
.time-col{
	left: 5%;
}
.name-col {
	left: 25%
}
.cals-col {
	left: 60%;
	text-align: right;
}
.details-col {
	left: 90%;	
}
#add-item {
	background: #223647;
	padding: 8px 10px;
	color: white;
	width: 120px;
	text-align: center;
	height: 30px;
}

#add-button {
	width: 120px;
	background-color: yellow;
}

#add-item i {
	margin-left: -3px;
}
#add-item span {
	text-align: left;
	text-transform: uppercase;
	font-size: 14px;
	padding-right: 10px;
}

#add-item:hover {
	background: #13CAD5;
	transition: 0.5s;
}



/* PROFILE STYLES */
.profile {
	border: 3px solid #13CAD5;
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	margin: 50px 20%;
}

.profile h1 {
	font-size: 36px; 
	padding: 10px;
	text-transform: uppercase;
	margin: 0 auto;
}
.profile h2 {
	font-size: 28px; 
	margin: 20px;
}
.profile h3 {
	margin-left: 20px;
}

/* FORM STYLES */
.form-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

.search-div {
	flex: 2;
	text-align: center;
}

.add-div {
	flex: 2;
	text-align: center;
}

.form-div input {
	display: block;
	width: 60%;
}

.auth-div form {
	display: flex;
	flex-direction:column;
	align-items: center;
	margin-top: 10%;
	text-align: center;
}

select {
	border: 2px solid  #0E94A1;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;	
	padding: 4px;
	margin-bottom: 100px;
	text-align: left;
	color:  #223647;
	background-color: #C5E3E3;
}

.single-div h3  {
	font-size: 20px;
	text-align: center;
	margin: 10px;
}

.single-div h1 {
	color:  #223647;	
}

.single-div .button {
	background-color:  #223647;
}


.single-div .button:hover {
	background-color:  #223647;
	color:  #13CAD5;
}

#result-submit {
	font-size: 38px;
	padding: 0;
	background-color: rgba(0,0,0,0);
	margin-left: 40px;
}

#result-submit:hover {
	color: #223647;
	transition: 0.5s;
}

.chart-container {
	margin: 0 auto;
}


.month {
	width: 150px;
}