<% include ../partials/boilerplate %>

<a href='/stats' class='back'>
		<i class="fa fa-chevron-left" aria-hidden="true"></i>
	</a>

<h1>Stats</h1>
<h3 class='stats'><%=month%></h3>
<h2 class='stats'>Average Daily Calories: <%=Math.round(avgCals)%></h2>

<div class='svg-container'>
<% include graph %>
</div>

<% include ../partials/end%>