<% include ../partials/boilerplate %>

<h1>Month</h1>

<canvas id="myLineChart" width="400" height="400"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>


<script>
var dates = <%=dates%>;
var cals = <%=cals%>;

console.log(typeof dates);

	var ctx = document.getElementById("myLineChart").getContext('2d');
	var myLineChart = new Chart(ctx, {
		type: 'line',
		data: {
			labels: dates,
			datasets: [{
				label: 'calories',
				backgroundColor: 'red',
				borderColor: 'black',
				data: cals,
			}]
		},
		options: {}
	});
</script>


<% include ../partials/end %>