<% include ../partials/boilerplate %>

<h1>Stats</h1>
<h3 class='stats'>This Week</h3>
<h2 class='stats'>Average Daily Calories: <%=Math.round(avgCals)%></h2>

<div class='svg-container'>
	<% include week-graph %>
</div>


<div class='month-div'>
	<% for (let month of months) { %>
		<a href='/stats/<%=month.number%>'>
		<div class='month'>
			<h2><%=month.string%></h2>
		</div>
		</a>
	<% } %>.
<div>

<% include ../partials/end %>