<% include ../partials/boilerplate %>

<h1>Stats</h1>

<h2 class='header-2'>This Week</h2>
<h3 class='header-3'>Average Daily Calories: <%=Math.round(avgCals)%></h3>
<% include graph %>

<h2 class='header-2'>By Month</h2>

<div class='month-div'>
	<% for (let month of months) { %>
		<a href='/stats/<%=month.number%>'>
		<div class='month entry'>
			<h2 class=''><%=month.string%></h1>
		</div>
		</a>
	<% } %>
<div>

<% include ../partials/end %>