<% include ../partials/boilerplate %>
	
	<h1><%= date %></h1>

	<% for (let food of data) { %>
		<div class='entry'>
			<h2><%= food.time %></h2>
			<h1><%= food.name %></h1>
			<h2><%= food.cals %> calories</h2>
		</div>
	<% } %>

	<div class='add-entry'>
		<a href='/food/add'>add item</a>
	</div>

<% include ../partials/end %>