<% include ../partials/boilerplate %>

	<h1>Add Item</h1>

	<form method='POST' action='/food/add'>
		<input name='item' type='text' placeholder='item'>
		<input type='submit' value='search' />
	</form>
	
	<form method='POST' action='/food'>
		<input name='time' type='time' placeholder='time' required />
		<input name='name' type='text' placeholder='item' required />
		<input name='cals' type='number' placeholder='calories' required />
		<input name='details' type='text' placeholder='details' required />
		<input type='submit' value='add' />
	</form>

	<a href='/food'>Cancel</a>

<% include ../partials/end %>