<% include ../partials/boilerplate %>

	<h1>Add Item</h1>

	<a href='/food/search'>Search</a>
	
	<form method='POST' action='/food'>
		<input name='time' type='time' placeholder='time' required />
		<input name='name' type='text' placeholder='item' required />
		<input name='cals' type='number' placeholder='calories' required />
		<input name='details' type='text' placeholder='details' required />
		<input type='submit' value='add' />
	</form>


<% include ../partials/end %>