<% include ../partials/boilerplate %>
	
	<a href='/food' class='back'>
		<i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i>
	</a>

	

	<h1 class='add-header'>Add Item</h1>

		<form class='search' method='POST' action='/food/add' class='search'>
			<input name='item' type='text' placeholder='item'>
			<input type='submit' value='search' class='button'/>
		</form>

	<a id='add-manual' href='/food/add-manual'>Add Manually</a>


<% include ../partials/end %>