<% include ../partials/boilerplate %>
	<h1>Add Item</h1>
	<form method='POST' action='/food/add?_method=GET'>
		<input name='name' type='text' placeholder='item'/ >
		<input type='submit' value='search' />
	</form>

<% include ../partials/end %>