<% include ../partials/boilerplate %>

	<h1>Update Item</h1>
	<% var date = new Date%>
	
	<form method='POST'>
		<input name='time' type='time' placeholder='time' />
		<form>
			<input name='name' type='text' placeholder='item' />
			<input type='submit' value='search' />
		</form>	
		<input name='cals' type='number' placeholder='calories' />
		<input name='details' type='text' placeholder='details'>
		<input type='submit' value='add' />
	</form>


<% include ../partials/end %>